# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/docs
!/src
!/tests
!/website
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CHANGELOG.md
!CMakeLists.txt
!CMakePresets.json
!CONTRIBUTING.md
!LICENSE
!README.md
!SECURITY.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
